
set_io LED1 71 #P52
#set_io LED2 67 #P53
#set_io LED3 #P54
#set_io LED4 #P55

set_io BUT1 63 #B1
#set_io BUT2 64 #B1

set_io uart_tx 85 # rd0

#pmod 4
set_io A[14] 96 #P15
set_io A[12] 98 #P14
set_io A[10] 101 #P13
set_io A[8] 104 #P12

#pmod 3
set_io A[15] 97 #P11
set_io A[13] 99 #P10
set_io A[11] 102 #P9
set_io A[9] 105 #P8

#pmod 6
set_io A[6] 106 #P23
set_io A[4] 110 #P22
set_io A[2] 113 #P21
set_io A[0] 144 #P20

#pmod 5
set_io A[7] 107 #P19
set_io A[5] 112 #P18
set_io A[3] 114 #P17
set_io A[1] 143 #P16

#pmod 8
set_io M1 3 #P31
set_io RD 4 #P30
set_io CLK 7 #P29
set_io MRQ 8 #P28

#pmod 7
set_io IORQ 1 #P27
set_io RST 2 #P26
set_io INT 9 #P25
set_io WR 10 #P24

#pmod 10
set_io D[0] 11 #P39
set_io D[2] 12 #P38
set_io D[4] 17 #P37
set_io D[6] 18 #P36

#pmod 9
set_io D[1] 15 #P35
set_io D[3] 16 #P34
set_io D[5] 19 #P33
set_io D[7] 20 #P32

#pmod 12
set_io ADDR_DIR 25 #P47
set_io SIG_DIR 26 #P46
set_io EX7 31 #P45
#set_io EX[5] 32 #P44

#pmod 11
set_io DATA_DIR 21 #P43
set_io SIG2_DIR 22 #P42
#set_io EX[6] 33 #P41
#set_io EX[4] 34 #P40

#set_io EX[3]
#set_io EX[2]
#set_io EX[1]
#set_io EX[0]


# # SRAM
# set_io ADR[0] 137
# set_io ADR[1] 138
# set_io ADR[2] 139
# set_io ADR[3] 141
# set_io ADR[4] 142
# set_io ADR[5] 42
# set_io ADR[6] 43
# set_io ADR[7] 44
# set_io ADR[8] 73
# set_io ADR[9] 74
# set_io ADR[10] 75
# set_io ADR[11] 76
# set_io ADR[12] 115
# set_io ADR[13] 116
# set_io ADR[14] 117
# set_io ADR[15] 118
# set_io ADR[16] 119
# set_io ADR[17] 78
# #set_io ADR[18] 62

# set_io DAT[0] 135
# set_io DAT[1] 134
# set_io DAT[2] 130
# set_io DAT[3] 128
# set_io DAT[4] 125
# set_io DAT[5] 124
# set_io DAT[6] 122
# set_io DAT[7] 121
# #set_io DAT[8] 61
# #set_io DAT[9] 60
# #set_io DAT[10] 56
# #set_io DAT[11] 55
# #set_io DAT[12] 52
# #set_io DAT[13] 49
# #set_io DAT[14] 48
# #set_io DAT[15] 47

# set_io RAMOE_b 45
# set_io RAMWE_b 120
# set_io RAMCS_b 136

# Onboard 12Mhz oscillator
set_io clk 129

